# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
.env.*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# Misc
.DS_Store
*.pem
.cache
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel 
.firebase/hosting.ZGlzdA.cache
